<template>
    <div class="row">
        <div class="col-12">
            <div class="hero px-3">
                <h1>Trade or view your portfolio</h1>
                <p>
                    You may save and load your data<br/>
                    Click on "End day" to begin a new day
                </p>
                <hr/>
                <h3>
                    <b>
                        Your Funds: ${{funds}}
                    </b>
                </h3>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    computed: {
        funds(){
            return this.$store.getters.getFunds
        }
    }
}
</script>

<style scoped>
.hero{
    width:100%;
    border:1px solid grey;
    height:33vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
</style>