<template>
    <div class="container-md">
        <Hero v-if="isSignedIn" class="my-4"></Hero>
        <div v-else class="my-4 row">
            <div class="col">Please Sign In</div>
        </div>
    </div>
</template>

<script>
import Hero from "./hero"

export default {
    components: {
        Hero
    },
    computed: {
        user(){
            return this.$store.getters.getUserInfo
        },
        isSignedIn(){
            return this.$store.getters.isSignedIn
        }
    }
}
</script>

<style></style>