<template>
    <nav class="navbar navbar-expand-lg navbar-light bg-light mt-4">
        <div class="container-md">

            <router-link to="/" tag="a" class="navbar-brand">Stock Trader</router-link>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 justify-content-between w-100">
                    <div class="d-flex flex-row align-items-center">
                        <li class="nav-item">
                            <router-link v-if="isSignedIn" to="/portfolio" tag="a" class="nav-link">Portfolio</router-link>
                            <p v-else class="nav-link mb-0">Portfolio</p>
                        </li>
                        <li class="nav-item">
                            <router-link v-if="isSignedIn" to="/stocks" tag="a" class="nav-link">Stock</router-link>
                            <p v-else class="nav-link mb-0">Stock</p>
                        </li>
                    </div>
                    <div class="d-flex flex-row align-items-center">
                        <li v-if="isSignedIn" class="nav-item">
                            <a class="nav-link" @click="endday">End Day</a>
                        </li>
                        <li v-if="isSignedIn" class="nav-item dropdown">
                            <a
                                class="nav-link dropdown-toggle"
                                href="#"
                                id="navbarDropdown"
                                role="button"
                                data-bs-toggle="dropdown"
                                aria-expanded="false">
                                Menu
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Save</a></li>
                                <li><a class="dropdown-item" href="#">Load</a></li>
                                <li><router-link tag="a" to="/options" class="dropdown-item">Options</router-link></li>
                            </ul>
                        </li>
                        <li v-if="isSignedIn" class="navbar-text ms-3">
                            <b>Funds: ${{funds}}</b>
                        </li>
                        <li class="navbar-text ms-3">
                            <router-link v-if="!isSignedIn" to="/auth/signin" tag="a" class="nav-link"><b>Sign in</b></router-link>
                            <a v-else @click.prevent="signout" class="nav-link"><b>Sign Out</b></a>
                        </li>
                    </div>
                </ul>
            </div>
            
        </div>
    </nav>
</template>

<script>
export default {
    computed: {
        funds(){
            return this.$store.getters.getFunds
        },
        isSignedIn(){
            return this.$store.getters.isSignedIn
        }
    },
    methods:{
        endday(){
            this.$store.dispatch('endDay')
        },
        signout(){
            this.$store.dispatch('signOut')
        }
    }
}
</script>

<style scoped>
li > *{
    cursor:pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
</style>