<template>
    <div class="toast-container position-absolute bottom-0 end-0 mb-2">
      <div v-for="log of logs" :ref="`LOG${log.id}`" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
          <strong class="me-auto">{{log.title}}</strong>
          <small class="text-muted"></small>
          <button @click="shown(log.id, $event)" type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          {{log.message}}
        </div>
      </div>
    </div>
</template>

<script>
export default {
    data(){
        return {
            time: 3000,
            timeouts: {}
        }
    },
    computed: {
        logs(){
            return this.$store.getters.getUnseenLogs
        }
    },
    methods: {
        shown(id){
            clearTimeout(this.timeouts[id])
            delete this.timeouts[id]
            this.$store.dispatch('shown', id)
        }
    },
    updated(){
        for(let log of this.logs){
            let toast
            if(typeof this.timeouts[log.id] == 'undefined'){
                toast = new bootstrap.Toast(this.$refs[`LOG${log.id}`][0], {autohide: false})
                toast.show()
                this.timeouts[log.id] = setTimeout(()=> {
                    toast.dispose()
                    this.$store.dispatch('shown', log.id)
                    delete this.timeouts[log.id]
                }, this.time)
            }
        }
    }
}
</script>

<style></style>
