<template>
    <div class="container-md my-4">
        <div class="row">
            <div class="col">
                <a v-if="isSignedIn" @click.prevent="recover">Change password</a>
                <p v-else>No options available</p>
            </div>
        </div>
    </div>
</template>

<script>
import supabase from '../supabase'

export default {
    computed: {
        user(){
            return this.$store.getters.getUserInfo
        },
        isSignedIn(){
            return this.$store.getters.isSignedIn
        }
    },
    methods: {
        recover(){
            if(this.isSignedIn) supabase.auth.api.resetPasswordForEmail(this.user.email)
        }
    }
}
</script>

<style></style>