<template>
    <div class="container-md">
        <div class="row row-cols-3">
            <div v-for="i in assets" class="col gy-3">
                <Stock
                    :owned="true"
                    :code="i.id"
                    :name="i.name"
                    :qty="i.quantity"
                    :val="i.value"
                    @click="sell($event, i.id)"></Stock>
            </div>
            <div v-if="empty">
                <p>
                    You have no assets in your portfolio yet.</br>
                    You can buy in <router-link to="/stocks" tag="a">Stocks</router-link>
                </p>
            </div>
        </div>
    </div>
</template>

<script>
import Stock from "./stock"

export default {
    computed: {
        assets(){
            return this.$store.getters.getPortfolio
        },
        empty(){
            return Object.keys(this.assets).length == 0
        },
        isSignedIn(){
            return this.$store.getters.isSignedIn
        }
    },
    methods: {
        sell(qty, id){
            this.$store.dispatch('sellAsset', {id, quantity: qty})
        }
    },
    components: {
        Stock
    },
    created(){
        if(!this.isSignedIn){
            this.$router.push('/')
        }else{
            const unsubscribe = this.$store.subscribe((mutation, state) => {
                if(mutation.type == 'signedIn' && state.Users.signedIn == false){
                    unsubscribe()
                    this.$router.push('/')
                }
            })
        }
    }
}
</script>

<style></style>