<template>
    <div class="container-md">
        <div class="row row-cols-3">
            <div v-for="i in options" class="col gy-3">
                <Stock
                    :code="i.id"
                    :name="i.name"
                    :total="i.total"
                    :qty="i.quantity"
                    :val="i.value"
                    @click="buy($event, i.id)"></Stock>
            </div>
        </div>
    </div>
</template>

<script>
import Stock from "./stock"

export default {
    computed: {
        options(){
            return this.$store.getters.getStocks
        },
        isSignedIn(){
            return this.$store.getters.isSignedIn
        }
    },
    methods: {
        buy(qty, id){
            this.$store.dispatch('buyAsset', {id, quantity: qty})
        }
    },
    components: {
        Stock
    },
    created(){
        if(!this.isSignedIn){
            this.$router.push('/')
        }else{
            const unsubscribe = this.$store.subscribe((mutation, state) => {
                if(mutation.type == 'signedIn' && state.Users.signedIn == false){
                    unsubscribe()
                    this.$router.push('/')
                }
            })
        }
    }
}
</script>

<style></style>