<template>
    <div class="stock" :class="{'owned': owned}">
        <div class="header">
            <h6>{{code}}</h6>
            <span>(price: {{val}})</span>
            <span>(qty: {{qty}})</span>
            <span v-if="owned">(val: ${{qty * val}})</span>
        </div>
        <div class="body">
            <p>{{name}}</p>
            <form ref="form">
                <div class="field position-relative">
                    <input
                        @change="quantity=$event.target.value"
                        @input="quantity=$event.target.value"
                        ref="qty"
                        class="form-control"
                        name="quantity"
                        type="number"
                        min="1"
                        required
                        :placeholder="qty">
                    <button
                        class="btn"
                        :class="{'btn-danger': owned, 'btn-success': !owned}"
                        @click.prevent="click">
                        {{label}}
                        </button>
                    <div class="messages text-danger position-absolute start-0 bottom-0">{{message}}</div>
                </div>
            </form>
        </div>
    </div>
</template>

<script>
export default {
    props: {
        owned: { type: Boolean, default: false },
        code: { type: String },
        name: { type: String },
        total: { type: Number },
        qty: { type: Number },
        val: { type: Number }
    },
    data(){
        return {
            quantity: 0,
            message: ''
        }
    },
    computed: {
        label(){
            return (this.owned)?'Sell':'Buy'
        }
    },
    methods: {
        click(){
            if(!this.$refs.form.checkValidity()){
                this.$refs.form.classList.add('error')
                this.message = this.$refs.qty.validationMessage
                return;
            }

            this.$emit('click', this.quantity)
            this.reset()
        },
        reset(){
            this.message = ''
            this.$refs.form.classList.remove('error')
        }
    }
}
</script>

<style>
    .stock{
        border-radius: 10px;
        border:1px solid grey;
        width:100%;
        height:20vh;
        display:flex;
        flex-direction:column;
    }
    .stock .header{
        flex-grow:1;
        border-radius:10px 10px 0 0;
        background-color: lightgreen;
        display:flex;
        flex-direction:row;
        align-items:center;
        padding-left:10px;
        padding-right:10px;
    }
    .stock .header > *{
        margin-right:5px;
        margin-top:0;
        margin-bottom:0;
    }
    .stock.owned .header{
        background-color: lightblue;
    }
    .stock .body{
        flex-grow:5;
        padding:5px 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-evenly;
    }
    .stock p{
        margin-bottom:0;
    }
    .stock .body form{
        width:100%;
    }
    .stock .body form .field{
        display:flex;
        flex-direction:row;
        padding-bottom:14px;
    }
    .stock .body form .field .messages{
        line-height:14px;
        height:14px;
        font-size:14px;
    }

    .stock .body form .field input::-webkit-outer-spin-button,
    .stock .body form .field input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
    .stock .body form .field input[type=number] {
        -moz-appearance: textfield;
    }

    .stock .body form.error .field input:invalid{
        border:1px solid var(--bs-danger);
    }

    .stock .body form .field *:not(:last-child){
        margin-right:5px;
    }
</style>