<template>
  <div id="app">
    <Nav></Nav>
    <router-view/>
    <Notifications></Notifications>
  </div>
</template>

<script>
import Nav from "./components/nav"
import Notifications from "./components/notifications"
import {mixin as supabase} from "./supabase"

export default {
  name: 'App',
  components:{
    Nav,
    Notifications
  },
  mixins: [supabase]
}
</script>

<style>
html, body, #app{
  width:100%;
  height:100%;
  width:100vw;
  height:100vh;
  overflow:visible;
}
#app{
  overflow-y:scroll;
  scrollbar-width: thin;
  scrollbar-color: var(--bs-gray) #f8f9fa;
  overflow-x: auto;
  overflow-y: scroll;
}
#app::-webkit-scrollbar {
  width: 6px;
}
#app::-webkit-scrollbar-track {
  background-color: #f8f9fa;
}
#app::-webkit-scrollbar-thumb {
  background-color: var(--bs-gray);
}
</style>
