<template>
    <div class="container-md">
        <div class="row">
            <component :is="current" @submit="submit"></component>
        </div>
    </div>
</template>

<script>
import Recover from './recover'
import SignIn from './signin'

export default {
    data(){
        return {
            current: null,
            token: null
        }
    },
    computed: {
        isSignedIn(){
            return this.$store.getters.isSignedIn
        }
    },
    components: { Recover, SignIn },
    methods: {
        submit({email, password}){

            if(typeof email == 'undefined'){

                this.$store.dispatch('updateUser', {
                    token: this.token,
                    password: password
                    //,success: () => {
                    //    this.$router.push('/')
                    //}
                })
                
            }else{

                this.$store.dispatch('signIn', {email, password})

            }

        }
    },
    created(){

        if(!this.isSignedIn){

            if(this.$route.params.access_type == 'invite' || this.$route.params.access_type == 'recovery'){
                this.current = "Recover"
                this.token = this.$route.params.token
                this.$router.replace(`/auth/${this.$route.params.access_type}`)
            }else{
                this.current = "SignIn"
            }

            const unsubscribe = this.$store.subscribe((mutation, state) => {
                if(mutation.type == 'signedIn' && state.Users.signedIn == true){
                    unsubscribe()
                    this.$router.push('/')
                }
            })

        }else{
            this.$router.push('/')
        }

    }
}
</script>

<style></style>