<template>
    <form class="col-12">
        <div class="form-control">
            <input type="password" name="pass" ref="pass"/>
        </div>
        <div class="form-control">
            <input type="password" name="confirmation" ref="confirmation"/>
        </div>
        <button class="btn btn-info" @click.prevent="submit">Submit</button>
    </form>
</template>

<script>
export default {
    methods: {
        submit(){
            if(this.$refs.confirmation.value == this.$refs.pass.value){

                this.$emit('submit', {
                    password: this.$refs.pass.value
                })

            }
        }
    }
}
</script>

<style></style>