<template>
    <form class="col-12">
        <div class="form-control">
            <input type="text" name="user" ref="user"/>
        </div>
        <div class="form-control">
            <input type="password" name="pass" ref="pass"/>
        </div>
        <button class="btn btn-info" @click.prevent="submit">Submit</button>
    </form>
</template>

<script>
export default {
    methods: {
        submit(){
            this.$emit('submit', {
                email: this.$refs.user.value,
                password: this.$refs.pass.value,
            })
        }
    },
}
</script>

<style></style>